<div >
  <div >
    <div >
      <h2 ><a href="#"> LOGO </a></h2>
    </div>
    <div >
      <h5>Get started</h5>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Downloads</a></li>
      </ul>
    </div>
    <div >
      <h5>About us</h5>
      <ul>
        <li><a href="#">Company Information</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div >
      <h5>Support</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help desk</a></li>
        <li><a href="#">Forums</a></li>
      </ul>
    </div>
    <div >
      <div >
        <a href="#" ><i class="fa fa-twitter"></i></a>
        <a href="#" ><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
      <button type="button">Contact us</button>
    </div>
  </div>
</div>
<div>
  <p>© 2018 Copyright Text </p>
</div>
