<footer>
  <footer id="myFooter">
    <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <h2 ><a href="#">{{logotipo}}</a></h2>
    </div>
    <div class="col-sm-2">
      <h5>{{inicio}}</h5>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Descargas</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h5>{{sobre}}</h5>
      <ul>
        <li><a href="#">Informaci&oacute;n</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h5>{{soporte}}</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Foros</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <div class="social-networks">
        <a href="#" ><i class="fa fa-twitter"></i></a>
        <a href="#" ><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
      <button type="button" class="btn btn-default">{{contacto}}</button>
    </div>
  </div>
</div>
<div>
  <p>{{derechos}}</p>
</div>
</footer>
