.boton_lista {
    background-color: orange;
    color:white;
    width: 4em;
   
}

.boton_lista:hover {
    background-color: white;
    color:orange;
    border:2px solid orange;
}


@media (max-width: 600px) { 

    h2 {
        margin-left: 30px;
    }

    li {
        margin-left: 20px;
    }
}