.baja_form {
    margin-left: 100px;
}

h2 {
    margin-left: 3.5em;
}

.espacio_nombre_baja {
    width: 300px;
    border-radius: 5px 5px 5px 5px;
    height: 2.4em;
}

.boton_eliminar {
    background-color: red;
    color:white;
    width: 7em;

}

.boton_eliminar:hover {
    background-color: white;
    color:red;
    border:2px solid red;
}

select {
    width: 200px;
    margin-left: 10px;
}

@media (max-width: 600px) { 

    .baja_form {
        padding-left: 30px;
    }

    h2 {
        margin-left: 30px;
    }

    .baja_form {
        margin-left: 0px;
    }

}